NEXT_PUBLIC_SITE_URL=https://dzheleznov.com

# СДЭК
SDEK_API_URL=https://api.cdek.ru/v2
SDEK_API_KEY=

# Почта России
POCHTA_API_URL=https://otpravka-api.pochta.ru
POCHTA_API_TOKEN=

# ЮKassa
YUKASSA_SHOP_ID=1381833
YUKASSA_SECRET_KEY=test_jdiJ6_cRCv4v1j8vgHbcfT-_Xgn07ZCvp2R5fCFjRzo

# СБП
SBP_MERCHANT_ID=
SBP_API_URL=
